html {
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.lead {
    margin-bottom: 40px;
    padding: 20px;
    background: #fff;
}

.lead .warning {
    display: block;
    background: #fea;
    font-size: 1.0rem;
    padding: 20px;
}

body {
    background: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

p.footnote {
    border-top: 1px solid #eee;
    margin: 0;
    color: #999;
    font-size: 0.8rem;
}

.box {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#main {
    padding: 20px;
    padding-top: 10px;
    min-height: calc(100vh - 40px);
}

.extra-padding {
    padding-top: 40px;
}

.control {
    display: inline-block;
    position: relative;
    margin-bottom: 32px;
}

.control label {
    position: absolute;
    left: 0;
    top: -20px;
    font-size: 0.8rem;
}

button, input {
    box-shadow: 0 1px 1px #eee, 0 1px 1px #aaa;
    border: 1px solid #aaa;
    padding: 8px;
    background: #eee;
}

.buttons {
    display: inline-block;
    margin-top: 10px;
}

button#pause.paused {
    background: #fa0;
}

button#pause {
    background: #af0;
}

button#reset {
    background: #eee;
}

p.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-around;

}

p.numbers span.number {
    background: #fff;
    margin: 20px;
    display:inline-block;
    min-width: 180px;
    text-align: center;
    padding: 10px;
}

p.numbers span.number:first-line {
    margin-left: 0;
}

p.numbers span.legend {
    font-size: 1.0rem;
    font-weight: 800;
    color: #444;
    display: block;
}

p.numbers span {
    padding: 10px;
    font-size: 3.5rem;
}

.chart {
    background: #fff;
    padding: 20px;
    position: relative;
    overflow-x: auto;
    max-width: 100%;
}

.chart span.bar {
    background: #f70;
}

.chart span.refbar {
    background: #aaa;
}

.healthy span.bar {
    background: #5ea;
}

.sick span.bar {
    background: #fc0;
}

.deceased span.bar {
    background: #a00;
}

.cured span.bar {
    background: #5ea;
}